@font-face {
	font-family: "Source Sans Pro";
	src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
	font-weight: 200;
}
:root {
	--rpifontsans: 'Trade Gothic', Arial, sans-serif;
	--rpifontserif: 'Janson Text', Georgia, serif;
	--sspfont: 'Source Sans Pro', sans-serif;
	--rpired: #D6001C;
	--rpigrey: #777676;
	--rpinavy: #333366;
	font-family: var(--sspfont) !important;
	font-weight: 200;
}

/* This is the "Rensselaer Self-Service Information System" header */
div.headerwrapperdiv {
	background: none;
}
div.headerwrapperdiv>div.pageheaderdiv1 {
	background-image: url("https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/RPIlogo_white.png");
	background-position: right 1em top 1em;
	background-repeat: no-repeat;
	background-origin: padding-box;
	background-color: var(--rpired) !important;
	margin: 0;
}
div.headerwrapperdiv>div.headerlinksdiv {
	margin-top: 0;
	padding-top: 2em;
}
div.pageheaderdiv1>h1 {
	color: white;
	font-family: var(--sspfont) !important;
	font-size: 32px;
	padding-top: 2em;
}

/* Navigation Links -- Ensure selector specificity to get styling order precedence*/
div.headerlinksdiv {
	margin: 0 !important;
	padding: 0 !important;
	background-color: white;
	padding-bottom: 0;
}
div.headerlinksdiv>span.pageheaderlinks2 table {
	margin: 0 !important;
	display: inline;
}
div.headerlinksdiv>span.pageheaderlinks2 table table>tbody>tr {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
}
div.headerlinksdiv p {
	display: none;
}
tr>td.tabon, tr>td.taboff{
	background-color: white;
	color: #767676 !important;
	background: none !important;
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
tr>td.tabon:hover, tr>td.taboff:hover {
	background-color: var(--rpired) !important;
	color: white !important;
}
tr>td.tabon>a, tr>td.taboff>a {
	color: unset !important; /*Inheret the parent's color, allowing for change on hover*/
	font-family: var(--sspfont) !important;
	font-weight: 200 !important;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 1px;
	margin-right: 1px;
	text-transform: uppercase;
	text-align: center !important;
}
td.bgtabon, td.bgtaboff {
	display: none;
}

/* Search Bar */
div.headerwrapperdiv>table.plaintable>tbody>tr {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
div.headerwrapperdiv>table {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #B6B6B6;
}
div.headerlinksdiv2>form {
	background-color: white;
	font-size: 0;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	float: left;
}
div.headerlinksdiv2>form input {
	font-size: small;
}
input#keyword_in_id {
	border-style: none;
}
div.headerlinksdiv2>form>input[type=submit] {
	background-color: lightgray;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	border-style: none !important;
}

/* Page Header Links */
p.rightaligntext {
	display: inline-block;
	height: 100%;
}
span.pageheaderlinks {
	display: inline;
	float: right;
	vertical-align: middle;

	font-family: var(--rpifontsans);
	user-select: none;	
}
span.pageheaderlinks>a.submenulinktext2 {
	background-color: transparent;
	padding: 5px;
	user-select: text;
	color: white !important;
	vertical-align: middle;
}
span.pageheaderlinks>a.submenulinktext2:visited {
	color: unset !important;
}
span.pageheaderlinks>a.submenulinktext2:hover {
	color: unset !important;
}

/* Page Title */
div.pagetitlediv {
	text-align: center;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 2em;
	background-image: url("https://rpi.edu/images/backgrounds/diamonds/diamonds-white.jpg");
	background-repeat: repeat;
}

/* Page Body */
div.pagebodydiv {
	margin: 0 !important;
	padding-bottom: 2em;

	display: flex;
	flex-direction: column;
}
/* ======================================================= */
/* ==== menuplaintable ==== */
table.menuplaintable {
	border-top-style: none !important;
	margin: 0;

	display: flex;
	flex-direction: column;
}
table.menuplaintable>tbody {
	padding: 1em;

	display: flex;
	flex-direction: column;
}
table.menuplaintable>tbody>tr {
	border-top-color: darkslategray;
	border-top-style: solid;
	border-top-width: 1px;

	min-height: 2em;
	display: flex;
	align-items: center;
	padding: 0.5em
}
table.menuplaintable>tbody>tr:last-child {
	border-bottom-color: darkslategray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
table.menuplaintable td.mpdefault:first-child, table.menuplaintable td.mpdefault> {
	display: none !important;
}

table.menuplaintable img[name="Blue Ball"] {
	display: none !important;
}
/* Links */
table.menuplaintable td.mpdefault {
	display: unset;
}
table.menuplaintable td.mpdefault a, table.menuplaintable td.mpdefault a * {
	color: black;
	font-size: small;
}
table.menuplaintable td.mpdefault a:visited, table.menuplaintable td.mpdefault a *:visited {
	color: unset;
}
table.menuplaintable td.mpdefault a:hover, table.menuplaintable td.mpdefault a *:hover {
	color: unset;
	text-decoration: underline;
}
/* Descriptions */
table.menuplaintable td.mpdefault>span.menulinkdesctext {
	font-size: smaller;
	margin-left: 10px;
}
/* ==== datadisplaytable ==== */
table.datadisplaytable {
	margin-left: 1em;
	margin-right: 1em;
	border-collapse: collapse;
	padding: 4px;
}
table.datadisplaytable caption {
	font-size: large;
	font-style: normal;
	text-align: center;
	
	background-color: var(--rpigrey);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	color: white;

}
table.datadisplaytable>tbody {
	border-style: ridge;
	border-color: var(--rpigrey);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
table.datadisplaytable tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--rpigrey);
}
table.datadisplaytable th.ddlabel { /* Data Labels */
	padding: 4px;
}
/* Drop down forms */
div.pagebodydiv form table.dataentrytable {
	display: inline-block;
}
div.pagebodydiv form table.dataentrytable select, div.pagebodydiv form table.dataentrytable input[type=submit]{
	vertical-align: baseline;
	display: inline-block;
	height: 100%;
}
div.pagebodydiv form table.dataentrytable>tbody>tr>td.dedefault>select {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
	padding: 1px;

	text-align: center;
	vertical-align: middle;
}
div.pagebodydiv form input[type=submit] {
	margin: 0;
	border-left: 0;

	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
}
/* ==== Site Map ==== */
/* Show/Hide Details */
div.pagebodydiv>form[action^="/rss/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_MainMnu"] {
	text-align: center;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.pagebodydiv>form>input[value="Show Details"], div.pagebodydiv>form>input[value="Hide Details"] {
	border: none;
	border-radius: 1em;
	background-color: transparent;

	color: var(--rpired);
	
}
div.pagebodydiv>form>input[value="Show Details"]:hover, div.pagebodydiv>form>input[value="Hide Details"]:hover {
	border: none;
	background-color: lightgray;
	color: var(--rpired);
}
/* Columns */
div.pagebodydiv>table.plaintable:first-of-type {
	table-layout: fixed;
	width: 100%;
}
div.pagebodydiv>table.plaintable:first-of-type>tbody>tr>td {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	padding: 0.5em;
}
/* Within Columns */
div.pagebodydiv>table.plaintable table.plaintable {
	width: 100%;
}
div.pagebodydiv>table.plaintable table.plaintable td.pldefault {
	font-size: 0;
}
td.pldefault>a.sitemaplevel1, td.pldefault>a.sitemaplevel1:hover, td.pldefault>a.sitemaplevel1:visited {
	color: black;
	font-weight: bold !important;
	font-size: large !important;
	text-align: center;

	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	visibility: visible;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a {
	font-size: x-small;
	visibility: visible;
	color: black;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a:hover {
	color: black;
	font-weight: unset;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a:visited {
	color: black;
	font-weight: unset;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a>b {
	margin-top: 0.5em;
	font-size: small;
	visibility: visible;
	color: black;
	border-top-color: black;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a>b:hover {
	color: black;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a>b:visited {
	color: black;
}
/* ======================================================= */
/* ==== PAGE FOOTER ==== */
div.footerbeforediv~div {
	background-color: var(--rpigrey);
	margin: 0;
}
div.footerbeforediv~div * {
	margin: 0;
}
/* footerlinksdiv */
/* The links menu at the bottom */
div.footerlinksdiv {
	padding-top: 2em;
}
span.pagefooterlinks>map>p:last-child {
	color: white;
	visibility: collapse;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}
span.pagefooterlinks>map>p:last-child a {
	visibility: visible;
	padding-left: 1em;
	padding-right: 1em;

	font-size: small;
	font-family: var(--sspfont);
	color: white;
}
span.pagefooterlinks>map>p:last-child a:hover {
	color: white;
}
span.pagefooterlinks>map>p:last-child a:visited {
	color: white;
}

/* All that stuff at the bottom */
body>div.pagefooterdiv { /* parent to span.releasetext */
	margin-left: 0;
	margin-right: 0;
	padding-top: 1em;
	float: none;
	right: 0;
	left: 0;
}
span.releasetext { /* Has the "RELEASE: X.X.X.X" thing */
	color: white;
	font-size: smaller;
	font-weight: 100;
	text-align: center;
	display: block;
	text-transform: capitalize;
}
body>div.banner_copyright {
	left: 0;
	right: 0;
}
div.banner_copyright>h5 {
	color: white;
	font-size: small;
	font-weight: 100;
	text-align: center;
	margin: 0;
	padding-bottom: 1em;
}