@import "defines.css";

@font-face {
	font-family: "Source Sans Pro";
	src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
	font-weight: 200;
}

:root {
	font-family: var(--sspfont) !important;
	font-weight: 200;
	width: 100%;
}

body {
	width: 100%;
	overflow-x: hidden;
}
body>div {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/* =================================================================================== */

/* Page Title */
div.pagetitlediv {
	text-align: center;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 2em;
	background-image: url("https://rpi.edu/images/backgrounds/diamonds/diamonds-white.jpg");
	background-repeat: repeat;
}

/* Page Body */
div.pagebodydiv {
	margin: 0 !important;
	padding-bottom: 2em;

	display: flex;
	flex-direction: column;
}

/* ======================================================= */

/* ==== menuplaintable ==== */
table.menuplaintable {
	border-top-style: none !important;
	margin: 0;

	display: flex;
	flex-direction: column;
}
table.menuplaintable>tbody {
	padding: 1em;

	display: flex;
	flex-direction: column;
}
table.menuplaintable>tbody>tr {
	border-top-color: darkslategray;
	border-top-style: solid;
	border-top-width: 1px;

	min-height: 2em;
	display: flex;
	align-items: center;
	padding: 0.5em
}
table.menuplaintable>tbody>tr:last-child {
	border-bottom-color: darkslategray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
table.menuplaintable td.mpdefault:first-child, table.menuplaintable td.mpdefault> {
	display: none !important;
}

table.menuplaintable img[name="Blue Ball"] {
	display: none !important;
}
/* Links */
table.menuplaintable td.mpdefault {
	display: unset;
}
table.menuplaintable td.mpdefault a, table.menuplaintable td.mpdefault a * {
	color: black;
	font-size: small;
}
table.menuplaintable td.mpdefault a:visited, table.menuplaintable td.mpdefault a *:visited {
	color: unset;
}
table.menuplaintable td.mpdefault a:hover, table.menuplaintable td.mpdefault a *:hover {
	color: unset;
	text-decoration: underline;
}
/* Descriptions */
table.menuplaintable td.mpdefault>span.menulinkdesctext {
	font-size: smaller;
	margin-left: 10px;
}

/* ==== datadisplaytable ==== */
table.datadisplaytable {
	margin-left: 1em;
	margin-right: 1em;
	border-collapse: collapse;
	padding: 4px;
}
table.datadisplaytable caption {
	font-size: large;
	font-style: normal;
	text-align: center;
	
	background-color: var(--rpigrey);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	color: white;

}
table.datadisplaytable>tbody {
	border-style: ridge;
	border-color: var(--rpigrey);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
table.datadisplaytable tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--rpigrey);
}
table.datadisplaytable th.ddlabel { /* Data Labels */
	padding: 4px;
}

/* Drop down forms */
div.pagebodydiv form table.dataentrytable {
	display: inline-block;
	width: 100%;
}
div.pagebodydiv form table.dataentrytable select, div.pagebodydiv form table.dataentrytable input[type=submit]{
	vertical-align: baseline;
	display: inline-block;
	height: 100%;
}
div.pagebodydiv form table.dataentrytable>tbody>tr>td.dedefault>select {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
	padding: 1px;

	text-align: center;
	vertical-align: middle;
}
div.pagebodydiv form input[type=submit] {
	margin: 0;
	border-left: 0;

	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
}
/* ==== Site Map ==== */
/* Show/Hide Details */
div.pagebodydiv>form[action^="/rss/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_MainMnu"] {
	text-align: center;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.pagebodydiv>form>input[value="Show Details"], div.pagebodydiv>form>input[value="Hide Details"] {
	border: none;
	border-radius: 1em;
	background-color: transparent;

	color: var(--rpired);
	
}
div.pagebodydiv>form>input[value="Show Details"]:hover, div.pagebodydiv>form>input[value="Hide Details"]:hover {
	border: none;
	background-color: lightgray;
	color: var(--rpired);
}
/* Columns */
div.pagebodydiv>table.plaintable:first-of-type {
	table-layout: fixed;
	width: 100%;
}
div.pagebodydiv>table.plaintable:first-of-type>tbody>tr>td {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	padding: 0.5em;
}
/* Within Columns */
div.pagebodydiv>table.plaintable table.plaintable {
	width: 100%;
}
div.pagebodydiv>table.plaintable table.plaintable td.pldefault {
	font-size: 0;
}
td.pldefault>a.sitemaplevel1, td.pldefault>a.sitemaplevel1:hover, td.pldefault>a.sitemaplevel1:visited {
	color: black;
	font-weight: bold !important;
	font-size: large !important;
	text-align: center;

	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	visibility: visible;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a {
	font-size: x-small;
	visibility: visible;
	color: black;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a:hover {
	color: black;
	font-weight: unset;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a:visited {
	color: black;
	font-weight: unset;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a>b {
	margin-top: 0.5em;
	font-size: small;
	visibility: visible;
	color: black;
	border-top-color: black;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a>b:hover {
	color: black;
}
div.pagebodydiv>table.plaintable:first-of-type table.plaintable a>b:visited {
	color: black;
}
