:root {
	--rpifontsans: 'Trade Gothic', Arial, sans-serif;
	--rpifontserif: 'Janson Text', Georgia, serif;
	--sspfont: 'Source Sans Pro', sans-serif;
	--rpired: #D6001C;
	--rpigrey: #777676;
	--rpinavy: #333366;
}