@import "defines.css";
/*
This file contains all the CSS for elements contained in
the header `body>div.headerwrapperdiv`

This is one of the biggest graphical changes, since the rest is hard to
do as much for due to the way the HTML is organized. Fortunately, the header
is relatively consistent across most pages (though it is clear that a few
inconsistent changes have been made to certain pages over the years).
*/
/* =================================================================================== */
/* This is the top header.

BEFORE changes, it may be labelled any of the following, depending on the page:
"Rensselaer Self-Service Information System"
"Rensselaer's Student Information System"
"Rensselaer Student Information System"

However, we have made it consistently "Rensselaer Student Information System"
Note that this makes the text unselectable
*/
div.headerwrapperdiv {
  background: none;
  /* Top banner with title, set to red with white logo. */
}
div.headerwrapperdiv > div.pageheaderdiv1 {
  background-image: url("https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/RPIlogo_white.png");
  /*"https://sis.rpi.edu/gengifs/smllman.gif"*/
  background-position: right 1em top 1em;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-color: var(--rpired) !important;
  margin: 0;
  /* "Rensselaer Student Information System" text */
}
div.headerwrapperdiv > div.pageheaderdiv1 > h1 {
  color: white;
  font-family: var(--sspfont) !important;
  font-size: 0;
  padding-top: 64px;
  margin: 8px;
}
div.headerwrapperdiv > div.pageheaderdiv1 > h1::before {
  content: "Rensselaer Student Information System";
  font-size: 32px;
}

/* =================================================================================== */
/* Navigation Links -- Ensure selector specificity to get styling order precedence */
div.headerlinksdiv {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
  padding-bottom: 0;
}
div.headerlinksdiv > span.pageheaderlinks2 table {
  margin: 0 !important;
  display: inline;
}
div.headerlinksdiv > span.pageheaderlinks2 table table > tbody > tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}
div.headerlinksdiv p {
  display: none;
}

tr > td.tabon,
tr > td.taboff {
  background-color: white;
  color: #767676 !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
tr > td.tabon:hover,
tr > td.taboff:hover {
  background-color: var(--rpired) !important;
  color: white !important;
}
tr > td.tabon > a,
tr > td.taboff > a {
  /* Inherit the parent's color, allowing for change on hover */
  color: unset !important;
  /* Font */
  font-family: var(--sspfont) !important;
  font-weight: 400 !important;
  font-size: 16px;
  padding: 15px 12px;
  margin: 0;
  text-transform: uppercase;
  text-align: center !important;
  vertical-align: middle;
}

td.bgtabon,
td.bgtaboff {
  display: none;
}

/* =================================================================================== */
/* Search Bar */
div.headerwrapperdiv > table {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #B6B6B6;
}
div.headerwrapperdiv > table.plaintable > tbody > tr {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

div.headerlinksdiv2 > form {
  background-color: white;
  font-size: 0;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  float: left;
}
div.headerlinksdiv2 > form input {
  font-size: small;
}
div.headerlinksdiv2 > form input#keyword_in_id {
  border-style: none;
}
div.headerlinksdiv2 > form input[type=submit] {
  background-color: lightgray;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  border-style: none !important;
}

/* Page Header Links */
p.rightaligntext {
  display: block;
  height: 100%;
}

span.pageheaderlinks {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: var(--rpifontsans);
  user-select: none;
}
span.pageheaderlinks > a.submenulinktext2 {
  background-color: transparent;
  padding: 5px;
  user-select: text;
  color: white !important;
}
span.pageheaderlinks > a.submenulinktext2:visited, span.pageheaderlinks > a.submenulinktext2:hover {
  color: unset !important;
}
