/* Show/Hide Details */
div.pagebodydiv>form[action^="/rss/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_MainMnu"] {
	text-align: center;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.pagebodydiv>form>input[value="Show Details"], div.pagebodydiv>form>input[value="Hide Details"] {
	border: none;
	border-radius: 1em;
	background-color: transparent;

	color: var(--rpired);
	
}
div.pagebodydiv>form>input[value="Show Details"]:hover, div.pagebodydiv>form>input[value="Hide Details"]:hover {
	border: none;
	background-color: lightgray;
	color: var(--rpired);
}

/* Links */
td.pldefault>a.sitemaplevel1, td.pldefault>a.sitemaplevel1:hover, td.pldefault>a.sitemaplevel1:visited {
	color: black;
	font-weight: bold !important;
	font-size: large !important;
	text-align: center;

	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	visibility: visible;
}