/* datadisplaytable - class name*/
table.datadisplaytable[summary="This layout table is used to present the schedule course detail"] > caption {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #333366;
}
table.datadisplaytable[summary="This layout table is used to present the schedule course detail"] > tbody {
  border-top: none;
  border-bottom: none;
}

/* datadisplaytable -- Weekly Student Schedule: make the meeting times table connect to the main part of the class table*/
table.datadisplaytable[summary="This table lists the scheduled meeting times and assigned instructors for this class.."] > caption {
  font-weight: 400;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
table.datadisplaytable[summary="This table lists the scheduled meeting times and assigned instructors for this class.."] > tbody {
  border-top: none;
}
