@font-face {
    font-family: "Source Sans Pro";
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
    font-weight: 200;
}

$rpifontsans: 'Trade Gothic',
Arial,
sans-serif;
$rpifontserif: 'Janson Text',
Georgia,
serif;
$sspfont: 'Source Sans Pro',
sans-serif;
$rpired: #D6001C;
$rpigrey: #777676;
$rpinavy: #333366;

@mixin colorHV($color) {

    &,
    &:hover,
    &:visited {
        color: $color;
    }
}

@mixin unsetHVBoldness {

    &:visited,
    &:hover {
        font-weight: inherit;
    }
}